* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ce9ac1;
    padding: 20px;
    text-align: center;
    color: white;
}

.class.menu {
    display: flex;
    align-content: baseline;
}
