* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(250, 247, 229);
    color: #333;
}

header {
    background-color: #ce9ac1;
    display: flex;
    color: rgb(250, 247, 229);
}

.menu ul {
    display: flex;
}
